Source: conx
Section: admin
Priority: optional
Maintainer: Charlie Tulip <charlietulip117@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools
Standards-Version: 4.6.0

Package: conx
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: My custom package manager - based on python
 A simple Python-based package manager.
