Package: conx
Version: 1.0-1
Architecture: all
Maintainer: Charlie Tulip <charlietulip117@gmail.com>
Installed-Size: 35
Depends: python3-requests, python3:any
Section: admin
Priority: optional
Description: My custom package manager - based on python
 A simple Python-based package manager.
